html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html div,
body div {
  box-sizing: border-box;
}
.super-container {
  width: 100%;
  height: 100%;
  background: #666666;
  position: relative;
  overflow: hidden;
}
.super-container .topbar {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  opacity: 0.5;
  z-index: 10;
}
.super-container .parallax-bg {
  position: absolute;
  top: 0;
  z-index: 5;
}
.super-container .parallax-bg img {
  max-width: 100%;
}
.super-container .profile-container {
  z-index: 15;
  position: relative;
  top: 200px;
  background: yellow;
}
.super-container .header {
  height: 20px;
  width: 100%;
  z-index: 15;
  background: green;
  color: white;
}
.super-container .header.attached {
  position: fixed;
  top: 0;
}
